:root {
    --primary-pale-blue: hsl(225, 100%, 94%);
    --primary-bright-blue: hsl(245, 75%, 52%);
    --neutral-pale-blue: hsl(225, 100%, 98%);
    --neutral-desaturated-blue: hsl(224, 23%, 55%);
    --neutral-dark-blue: hsl(223, 47%, 23%);
    --red-hat: 'Red Hat Display', sans-serif;
    --white: #fff;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--red-hat);
    background-image: url("./../../images/pattern-background-mobile.svg");
    background-repeat: no-repeat;
    background-size: 125% auto;
    background-color: var(--primary-pale-blue);
}

h1 {
    font-weight: bold;
    font-family: var(--red-hat);
    font-size: 1.5em;
    color: var(--neutral-dark-blue);
}

p {
    color: var(--neutral-desaturated-blue);
    font-size: 1em;
}

main {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.btn {
    display: block;
    margin: 0;
    padding: 0;
    border: 0;
    background: none;
    border-radius: .7rem;
    cursor: pointer;
}

.btn-primary {
    text-align: center;
    padding: 15px;
    background-color: var(--primary-bright-blue);
    color: var(--white);
    font-size: 1em;
    font-weight: bold;
    box-shadow: 0px 12px 35px -10px hsl(245, 75%, 52%);
    -webkit-box-shadow: 0px 12px 35px -10px hsl(245, 75%, 52%);
    -moz-box-shadow: 0px 12px 35px -10px hsl(245, 75%, 52%);
}

.btn-primary:hover {
    box-shadow: 0px 12px 40px -10px hsl(245, 75%, 52%);
    -webkit-box-shadow: 0px 12px 40px -10px hsl(245, 75%, 52%);
    -moz-box-shadow: 0px 12px 40px -10px hsl(245, 75%, 52%);
}

.btn-secondary {
    text-align: center;
    padding: 15px;
    font-size: 1em;
    font-weight: bold;
    color: var(--neutral-desaturated-blue);
}

.btn-secondary:hover {
    box-shadow: 10px 12px 68px 3px rgba(0,0,0,0.2);
    -webkit-box-shadow: 10px 12px 68px 3px rgba(0,0,0,0.2);
    -moz-box-shadow: 10px 12px 68px 3px rgba(0,0,0,0.2);
}


.card {
    width: 340px;
    border-radius: 1rem;
    background-color: var(--white);
    overflow: hidden;
    box-shadow: 10px 12px 68px 3px rgba(0,0,0,0.2);
    -webkit-box-shadow: 10px 12px 68px 3px rgba(0,0,0,0.2);
    -moz-box-shadow: 10px 12px 68px 3px rgba(0,0,0,0.2);
}

.card-header {
    width: 100%;
}

img {
    width: 100%;
    object-fit: cover;
    object-position: center;
}

.card-body {
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    padding: 1rem 1.5rem;
}

.description {
    width: 90%;
    margin: 0 auto;
}

.selected-plan {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: .8rem;
    background-color: var(--neutral-pale-blue);
    border-radius: .5rem;
}

.icon {
    width: 60px;
}

.plan-container {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.plan-info {
    display: flex;
    flex-direction: column;
    gap: 5px;
    font-size: .95em;
}

.plan-name {
    color: var(--neutral-dark-blue);
    font-weight: bold;
}

.plan-price {
    color: var(--neutral-desaturated-blue);
}

.plan-link {
    color: var(--primary-bright-blue);
}

.cta {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

footer {
    position: absolute;
    bottom: 0;
    display: block;
    text-align: center;
    width: 100%;
}

/* Desktop */
@media (min-width: 992px) { 
    body {
        background-image: url("./../../images/pattern-background-desktop.svg");
        background-size: cover;
    }

    .card {
        width: 400px;
    }
}